@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply font-sans
      flex-shrink-0
      whitespace-nowrap
      text-sm
    bg-very-light-gray
      py-3 px-9
      rounded-3xl
      focus:outline-none
      focus:ring-4
      focus:ring-transparent-white;
  }

  .btn-bright-orange {
    @apply text-bright-orange;
  }

  .btn-dark-cyan {
    @apply text-dark-cyan;
  }
  .btn-very-dark-cyan {
    @apply text-very-dark-cyan;
  }
}
